#container {
  background-color: rgb(243, 234, 230);
}

#header {  
  display: flex;
  color: rgb(101, 96, 119);
  letter-spacing: 2px;
  text-align: center;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 1px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.head {
    color: rgb(101, 96, 119);
}

.head1 {
    margin-top: 5px;
    padding-right: 20px;
    padding-left: 50px;
}

#content {
    width: auto;
    height: 400px;
}

#footer {
    display: flex;
    justify-content: center;
    height: 250px;
    background-color: rgb(101, 96, 119);
}

.footer {
    padding-left: 20px;
    height: 100px;
    padding-top: 90px;
}

#footer1 {
    display: flex;
    justify-content: center;
}

.footer1 {
    padding-right: 15px;
    height: 100px;
    padding-top: 100px;
    color: rgb(243, 234, 230);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  ul.drop-down-menu {
    display: inline-block;
  }
  
  ul.drop-down-menu li {
    position: relative;
    white-space: nowrap;
  }
  
  ul.drop-down-menu>li:last-child {
    border-right: none;
  }
  
  ul.drop-down-menu>li {
    float: left;
  }
  
  ul.drop-down-menu a {
    background-color: rgb(243, 234, 230);
    color: rgb(101, 96, 119);;
    display: block;
    min-width: 80px;
    padding: 0 30px;
    text-decoration: none;
    line-height: 40px;
  }

  ul.drop-down-menu a:hover {
    background-color: rgb(121, 115, 141);
    color: rgb(243, 234, 230);
  }
  
  ul.drop-down-menu li:hover>a {
    background-color: rgb(121, 115, 141);
    color: rgb(243, 234, 230);
  }

  ul.drop-down-menu ul li {
    border-bottom: rgb(121, 115, 141) 1px solid;
  }
  
  ul.drop-down-menu ul li:last-child {
    border-bottom: none;
  }
  
  ul.drop-down-menu ul {
    display: none;
  }
  
  ul.drop-down-menu li:hover>ul {
    display: block;
  }

  
  ul.drop-down-menu ul {
    position: absolute;
    z-index: 99;
    top: 100%;
    min-width: 80px;
  }

  #tkpic {
    margin:auto;
    display:block;
      width: 80%;
      height: 850px;
  }

.infro {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

#icon {
  width: 70px;
  height: 70px;
  padding-left: 20px;
  padding-top: 20px;
}

.infro1 {
  width: 300px;
  height: 500px;
  margin: 50px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.infro1:hover {
  background-color: rgb(176, 159, 164);
  color: #ffffff;
}

.infro1 p{
  font-size: 20px;
  padding-top: 10px;
  margin: 25px;
}



.ticket {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.ticket_item {
  margin: 10px;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  width: 210px;
  padding: 8px;
  border-radius: 5px;
  float: left;
}

.ticket_item:hover {
  background-color: rgb(176, 159, 164);
  color: rgb(255, 255, 255);
}

.ticket_img{
  width: 70px;
  height: 70px;
  padding-left: 20px;
  padding-top: 20px;
}

.ticket_text {
  font-size: 20px;
  padding-top: 10px;
  margin: 25px;
}

.ticket_price {
  font-size: 20px;
  margin: 25px;
}

.ticket_count {
  font-size: 20px;
  float: right;
  position:relative;
  padding-right: 10px;
}

.shop{
  width: 50px;
  height: 50px;
}

.banner {
  display: flex;
  float: right;
  padding-top: 13px;
  padding-left:3%;
}

.buy_ticket{
  text-align: center;
  font-size: 23px;
  margin: 0%;
}

.favor{
  width: 50px;
  height: 50px;
}

.fav{
  padding-top: 13px;
  padding-left: 6%;
}

.place{
  align-items: center;
  padding-top: 13px;
  width: 50px;
  height: 50px;
}

.buy_ticket{
  text-align: center;
  font-size: 23px;
  margin: 0%;
}

.already_buy {
  font-size: 45px;
  padding-top: 10px;
  margin: 25px;
  color: rgb(101, 96, 119);
}

.ticket_shop {
  align-items: center;
  justify-content:flex-end;
  background-color: rgb(101, 96, 119);
  color: rgb(243, 234, 230);
  margin: 4%;
  font-size: 20px;
  width: 190px;
  height: 40px;
}

.about{
  color: rgb(101, 96, 119);
  text-align: center;
  font-size: 23px;
  margin: 0%;
  padding-top:200px;
  padding-left: 15%;
  padding-right: 15%;
}

.museum_name{
  color: rgb(101, 96, 119);
  text-align: center;
  font-size: 50px;
  border-radius: 5px;
  margin: 0%;
  padding-top:50px;
  padding-left: 15%;
  padding-right: 15%;
}

.museum_name:hover {
  transition: .5s;
  color:rgb(255, 255, 255);
}

.add_fav{
  text-align: center;
  font-size: 23px;
  margin: 0%;
  padding-top:150px;
  padding-left: 15%;
  padding-right: 15%;
}

.added {
  align-items: center;
  justify-content:flex-end;
  background-color: rgb(243, 234, 230);
  color: rgb(101, 96, 119);
  margin: 4%;
  font-size: 25px;
  width: 190px;
  height: 70px;
}









